.center {
    margin: auto;
    width: 60%;
    background-color: #f6f8f9;
    padding: 50px;
  }

.top {display: flex;
align-content: flex-start;
max-height: 90px;
}
.topText {display: flex;
flex-direction: column;
}
#torske {
    max-width: 300px;
}

.content{background-color: white;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#food-title {display: flex;
justify-content: center;
align-self: center;}